body {
  background-color: #ffffff;
  font-family: helvetica, sans-serif, arial;
}
.announcement {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 100%;
  background: #0e2756;
  color: white;
  font-family: helvetica, sans-serif, arial;
  vertical-align: middle;
  font-size: 15px;
}
.logo {
  max-width: 250px;
  max-height: 60px;
  padding-top: 10px;
}


.productsApi{
  display: flex;
  flex-direction: column;
  align-items: center; 
  
}

.game-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image, .productImage{
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
 
}

.productDetail-image{
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  border: solid;
}





header {
  position: relative;
  color: #0e2756;
  padding: 10px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

nav {
  position: absolute;
}
nav,
#menu-checkbox {
  display: none;
}
#menu-checkbox:checked ~ nav {
  display: inline-flex;
  flex-direction: column;
  background-color: #e4e4e4;
  padding: 20px;
  font-size: 25px;
}

.navgone {
  display: none;
}

nav a {
  color: #0e2756;
}

.fa-bars {
  font-size: 40px;
  margin-left: 20px;
  margin-top: 10px;
}

.fa-bag-shopping,
.fa-magnifying-glass {
  font-size: 25px;
  margin-right: 40px;
  margin-top: 10px;
}

.h1front {
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
  padding-bottom: 150px;
}

.h2summary {
  color: #0e2756;
  background-color: grey;
  display: inline-block;
}

.namesummary {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 100px;
}

hr {
  height: 2px;
  background-color: #0e2756;
}

.customer {
  text-align: center;
  font-size: larger;
}

.checkout {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #0e2756;
}

.productsumary {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.summary {
  color: #ffffff;
  padding-top: 0%;
  padding-bottom: 0%;
  display: flex;
}

.summarypic {
  margin-top: 20px;
}
.quantity2 {
  width: 400px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.main {
  background-image: url("../images/frontpage2.jpg");
}

.main {
  height: 450px;
}

.maincontact {
  background-image: url("../images/contactbackground2.jpg");
}
.maincontact {
  display: flex;
  justify-content: center;
}
.aboutbackground {
  background-image: url("../images/contactbackground2.jpg");
}

.aboutbackground {
  display: flex;
  height: 800px;
}
.section1 {
  display: flex;
  justify-content: center;
  height: 100px;
}

.button1 {
  display: grid;
  margin: auto;
  border-radius: 10px;
  border: solid #0e2756 3px;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ffffff;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(245, 242, 242, 0.895);
}

.button2 {
  margin-top: 150px;
  margin-left: 20px;
  border: solid #0e2756 3px;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  width: 240px;
  display: inline;
  background-color: #000;
  color: #ffffff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.446);
}

.inputsum {
  font-size: 20px;
}

.h2front {
  text-align: center;
  background-color: #e3893d;
  margin-top: 5cm;
  height: 40px;
  font-size: 35px;
}

.jakke1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.jakkeFigure {
  width: 180px;
  height: 180px;
  border: #0e2756 solid;
}

.jakke2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
figure {
  margin: 0px;
}

.h3view {
  text-align: center;
  background-color: #e3893d;
  margin-top: 10px;
  height: 40px;
  font-size: 30px;
}

.customer {
  font-size: xx-large;
}

.reviews {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.star {
  color: #eac34f;
}

footer {
  background-color: #0e2756;
  width: auto;
  height: 180px;
  padding-bottom: 50px;
}

.contacttext {
  color: #ffffff;
  font-size: 20px;
}

.contact,
.about {
  color: #eac34f;
  display: block;
  font-size: 30px;
  text-decoration: none;
  margin-top: 5px;
}
.footer {
  color: #eac34f;
  font-size: 50px;
  text-align: end;
  text-overflow: clip;
  padding-right: 10px;
}

.footer1 {
  padding-top: 50px;
}

.h1allproducts {
  color: #0e2756;
  font-size: 60px;
  padding-bottom: 2%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.flex-container {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #0e2756 solid 5px;
  margin: 5px;
  background-color: #e4e4e4;
}

figcaption {
  text-align: center;
  font-size: 25px;
}

figure {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

a {
  text-decoration: none;
}

.h4about {
  color: #ffffff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #0e2756;
  padding: 150px;
  opacity: 80%;
  border-radius: 47px;
  box-shadow: 0 5px 100px #e3893d;
}

.h1contact {
  color: #0e2756;
  font-size: 50px;
  margin-right: 50px;
}

.name,
.email {
  flex-direction: column;
  padding-top: 5px;
}

.website {
  margin-top: 7px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerform {
  min-width: 400px;
  background-color: #0e2756;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 5px 100px #e3893d;
  flex-direction: column;
}

.contactForm {
  display: flex;
  flex-direction: r;
}

form {
  height: 75vh;
  width: 10vw;
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
  color: #e4e4e4;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

label {
  margin: 10px;
}

.labelcontact {
  color: #ffffff;
  font-size: 20px;
}
.infosummary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutcontainer {
  background-image: url(/images/rocks.jpg);
}

label {
  display: block;
}

.labelsum {
  font-size: 20px;
}
.inputsum {
  border: solid 3px;
  width: 250px;
}

.labelquant {
  margin-left: 0%;
}
.inputqunt {
  width: 50px;
}

.submitbutton {
  border: solid;
  margin-top: 10px;
  width: 120px;
  border-radius: 47px;
  font-size: large;
  padding: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.h1about {
  color: #0e2756;
  font-size: 50px;
  margin-right: 80px;
}

.summarypic {
  height: 150px;
}

.mainthankyou {
  background-image: url(../images/2.jpg);
}
.thankyoucontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  padding-top: 5%;
}
.thankyou {
  font-size: 40px;
  color: #ffffff;
}

.thankyoup {
  font-size: 30px;
  margin-bottom: 0%;
  color: #ffffff;
}

.thankyoup2 {
  font-size: 25px;
  color: #ffffff;
}

.logo2 {
  max-width: 250px;
  max-height: 60px;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sizes {
  display: flex;
  margin-bottom: 20px;
}

.h2product {
  font-size: 50px;
}

.buyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyButton {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #0c0c0c;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(2, 2, 2, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.viewButton,
.add-cart2 {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(2, 2, 2, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.add-cart2:hover,
.viewButton:hover,
.buyButton:hover {
  background-color: #eac34f;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.contactButton {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.contactButton:hover {
  background-color: #eac34f;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.subButton {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 25px;
}

.cartContainer,
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 10px;
}

.cartImage {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.add-cart {
  position: absolute;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  color: #e4e4e4;
}

.cartImage:hover .cart1,
.cartImage:hover .cart2,
.cartImage:hover .cart3,
.cartImage:hover .cart4 {
  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}

.button1:hover,
.button2:hover {
  background-color: #e3893d;
  transform: translateY(-7px);
}

.viewAll:hover {
  font-size: 30px;
  color: aliceblue;
}

.size,
.size2,
.size3,
.size4 {
  border: #0e2756 solid 2px;
  margin: 10px;
  padding: 5px;
  font-size: 25px;
}

.message {
  background: green;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}



/*------------Cart Page--------------*/

.products-container {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.products-container fa-circle-xmark {
  font-size: 25px;
  color: blue;
}

.product-header {
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #0c0c0c;
  margin: 0 auto;
}

.product-title {
  width: 45%;
  border-bottom: 1px solid #0c0c0c;
}

.price {
  width: 15%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0c0c0c;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid #0c0c0c;
  display: flex;
  align-items: center;
}
.product-cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.total {
  width: 10%;
  border-bottom: 4px solid #0c0c0c;
  display: flex;
  align-items: center;
}

.product {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #0c0c0c;
}

.basketTotalContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

#thankYouMessage {
  display: none;
  padding: 50px;
  background-color: #000;
}

.remove {
  color: aqua;
}
/* desktop*/
@media (min-width: 804px) {
  nav,
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
  }

  a {
    margin: 30px;
    font-size: 20px;
  }
  .hamburger-icon {
    display: none;
  }
  nav a {
    display: inline-block;
    text-decoration: none;
  }
  .reviews {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 803px) {
  .h1contact {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button2 {
    margin-top: 100px;
    margin-left: 20px;
    border: solid #0e2756 3px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    width: 200px;
    display: inline;
    background-color: #ffffff;
    color: #0e2756;
  }
}

/*mobile*/

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  .jakke2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search {
    display: none;
  }

  .fa-magnifying-glass {
    font-size: 20px;
    margin-right: 10px;
    margin-left: px;
  }

  .fa-bag-shopping {
    font-size: 20px;
    margin-top: 10px;
  }

  .fa-bars {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button2 {
    margin-top: 20px;
  }
  h2 {
    margin-top: 100px;
  }
  .reviews {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contact,
  .about,
  .footer,
  .star {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    margin-top: 5px;
  }
  .aboutbackground {
    background-image: url(../images/mountain.jpg);
  }
  .aboutbackground {
    height: 200px;
    margin-bottom: 200px;
  }
  .h4about {
    font-size: 20px;
    padding: 60px;
    margin-top: 205px;
    padding-bottom: 50px;
    border-radius: 0%;
    opacity: 100%;
  }

  .h1contact {
    display: none;
  }

  .h1about {
    display: none;
  }

  .jakke3 {
    height: 100px;
    width: 100px;
  }
  .item1 {
    border: solid;
    border-color: #0e2756;
    margin: 2px;
  }

  footer {
    margin-top: 50px;
    padding-top: 50px;
  }

  .mobileImage,
  .productpicture {
    width: 200px;
  }
  .cartImage {
    margin-bottom: 20px;
  }

  .products-container {
    max-width: 300px;

    margin: 0 auto;
    margin-top: 50px;
  }

  .products-container fa-circle-xmark {
    font-size: 15px;
    color: blue;
  }

  .product-header {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 4px solid #0c0c0c;
    margin: 0 auto;
  }

  .product-title {
    width: 30%;
    border-bottom: 1px solid #0c0c0c;
  }

  .price {
    width: 15%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #0c0c0c;
  }

  .quantity {
    width: 2%;
    border-bottom: 1px solid #0c0c0c;
    display: flex;
    align-items: center;
  }
  .product-cart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .total {
    display: none;
  }




.productApi{
  display: flex;
  align-items: center;
}

  .product {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #0c0c0c;
  }

  .basketTotalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }

  .basketTotalTitle {
    width: 30%;
  }

  .basketTotal {
    width: 10%;
  }

  .logo {
    max-width: 100px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .header2 {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  .fa-bars {
    font-size: 20px;
  }

  .fa-bag-shopping,
  .fa-magnifying-glass {
    font-size: 15px;
  }
}
