body{
    background-color: #ffffff;
    font-family: helvetica, sans-serif, arial;
}
.announcement {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: #0E2756;
    color: white;
    font-family: helvetica, sans-serif, arial;
    vertical-align: middle;
    font-size: 10px;
  }
  
  .logo{
    max-width: 250px; max-height: 60px; padding-top: 10px;}

  header{
    position: relative;
    color: #0E2756;
    padding: 10px;
}

.header2{
    display: flex;
    justify-content:space-between;
    height: 100px;
}


nav{
    position: absolute;
}
nav, #menu-checkbox {
   display: none;
}
#menu-checkbox:checked ~ nav {
   display: block;
}

nav a{
   color: #0E2756;
}


h1{
    color: #ffffff; text-align: center; padding-top: 100px; font-size: 50px; padding-bottom: 150px;
}



}

p{
    text-align: center; font-size: larger;
}

.main{
    background-image: url("../images/frontpage2.jpg")
}

.main{
    height: 450px;
    
}
.maincontact{
    background-image: url("../images/contactbackground2.jpg")

}
.aboutbackground{
    background-image: url("../images/contactbackground2.jpg")


}
.aboutbackground{
    display: flex;
    height:800px;
    width: ;
}
.section1{
    display: flex;
    justify-content: center;
    height: 100px;
    
}
.button1{
    display: grid; margin: auto; border-radius: 56px; border: solid #0E2756 5px;font-size: 30px;padding-left: 30px; padding-right: 30px;
    }

.button2{
margin-top: 150px;
margin-left: 20px;
border: solid #0E2756 3px;
font-size: 30px;
padding-left: 30px;
padding-right: 30px;
height: 60px;
width: 250px;
display: inline;
background-color: #ffffff;
color: #0E2756;

}

h2{
    text-align: center;
    background-color:#E3893D;
    margin-top: 5cm;
    height: 40px;
    font-size: 35px;
}

.jakke1{
    border: #0E2756 solid;
    height: 200px;
    width: 200px;
    object-fit: cover;
       }

 .jakke2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

 }
figure{
    margin: 0px;
}
h3{
    text-align: center;
    background-color:#E3893D;
    margin-top: 10px;
    height: 40px;
    font-size: 30px;
}

.customer{
    font-size: xx-large;
}

.reviews{
    display:flex;
    justify-content:center;
    flex-direction: row;
    
}

.star{
    color: #EAC34F;
}


footer{
    background-color: #0E2756; width: auto; height: 180px;
}

.contact, .about{
    color: #EAC34F;
    display:block;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;

   
}
.footer{
    color: #EAC34F;
    font-size: 50px;
    text-align:end;
    text-overflow: clip;
    }

    .h1allproducts{
        color: #0E2756;
        font-size: 60px;
        padding-bottom: 2%;
    }

.products{
    display: flex;
    flex-wrap: wrap;
    }

.flex-container{
  padding: 1%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

figcaption{
    text-align: center;
    font-size: 25px;
}

figure{
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    
}

button{
    border: solid;
    border-radius: 20px;
    font-size: 20px;
    background-color: #ffffff;
}




/* desktop*/
@media (min-width: 600px) {
    nav, header {
    display: flex;
    justify-content:center;
    align-items: center;
    position: static;}
  
    a{
        margin:30px;
        font-size: 20px;   
    }
     .hamburger-icon {
         display: none;
     }
     nav a{ 
         display: inline-block;
         text-decoration: none;
    }
    .reviews{
      display: flex;
      justify-content: center;
      flex-direction: row;
      justify-content: space-evenly;
  }
  }

  /*tablet*/
  @media only screen and (min-width:481px)and(max-width:599px){
  }
      

/*mobile*/

  @media only screen and (max-width:480px){
      width{
          320px
      }
      h1{
         font-size: 2em;
      }

    .jakke2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .jakke1{
       height: 280px;
       width: 280px;
   }
   .section1{
    display: flex;
        flex-direction: column;
        align-items: center;
        
   }

   .button1{
       margin-bottom: 100px;
       display:flex;
       align-items: center;
   }
   .button2{
       margin-top: 20px;
    ;
       
   }
   h2{
       margin-top: 100px;
   }
   .reviews{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
   

   .contact, .about, .footer, .star{
       display:flex;
       justify-content: center;
   }
  }

  .h1contact{
      color: #0E2756;
  }

  .containerform{
    height: 75vh;
    width: 25vw;
    background-color:#0E2756;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items:;

    box-shadow: 0 5px 20px #7f868f;
    border-radius: 8px;

  }

  form{
    height: 75vh;
    width: 30vw;
    display: grid;
    place-content: center;
  }

  .labelcontact{
      color: #ffffff;
      font-size: 20px;
  }
  h5{
      display: flex;
      justify-content: flex-end;
      color: #ffffff;
    
  }

  .h1about{
      color: #0E2756;
  }

  .h4about{
      color: #ffffff;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      background-color: #0E2756;
      padding: 150px;
      opacity: 80%;
      border-radius: 47px;
  }
