body{
    background-color: #ffffff;
    font-family: helvetica, sans-serif, arial;
}

.announcement {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: #0E2756;
    color: white;
    font-family: Arial, sans;
    vertical-align: middle;
    font-size: 10px;
  }
  .logo{
      max-width: 250px;
  }
 nav li{
     display: inline-block;
 }
 .container{
     display:flex;
     background-color: #ffffff;
 }
 ol li{
     display: inline-block;
 }

 ol a{
     color: #0E2756;
     text-decoration: none;
     padding: 20px;
 }

 ol a:hover{
     text-decoration: underline;
 }
  
h1{
    color: #1f5014; text-align: center;
}
p{
    text-align: center; font-size: larger;
}

.front{
 background-image: url(../images/images/mountain.jpg);
}